<% include header.ejs%>
<header>
        <div class="video-container">
                <iframe width="1300" height="205" src="https://www.youtube.com/embed/TCDIclsb-GY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <style>
                .video-container {
                    position: relative;
                    padding-bottom: 20%;
                    padding-top: 30px; height: 0; overflow: hidden;
                    }
                
                    .video-container iframe,
                    .video-container object,
                    .video-container embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 70%;
                    }
                    </style>
    <section class="section-header">
    <h2>Introduction</h2>
    <article>
     
        <img src="image.png" alt="avatar" align="left" >
  
    <h2 id="intro">04 - Mallikarjuna Bodepudi</h2>
    <p class="a">I came to NorthWest Missouri State University as freshman for the fall 2018 to pursue my masters in Applied Computer Science.</p>
    </article>    
    </section>
     <section id="past-section">
     
    <h2 id="past">Undergraduation</h2>
    <p class="b">I am from Guntur(INDIA), completed my undergraduate degree in the area Computer Science in the year 2018 and in 3rd year of B.tech i collaborated with NPTEL and built an Web Application by using frontend programming. I like use my free time by listening to music  and collecting old Indian currency.</p>
    
    </section>
    <section id="future-section">
    
    <h2 id="fut">Future Plans</h2>
    <p class="c">I want enhance my knowledge in the area of web technologies , App development and database management and like to settle as project manager.</p>
    
    </section>
    

    </header>
    
</section>
</header>
<footer>
<strong>I am hard worker with never give up attitude.</strong>
<p><a href=https://www.linkedin.com/in/mallikarjuna-bodepudi-97a9b7162>Linkedin</a></p>
</footer>
</main>

<aside>
    <h2 class="aside-header">Schedule</h2>
</aside>
<table>
<tr>
<th>Course_No</th>
<th>Course_Name</th>
<th>Days</th>
<th>Time</th>
</tr>
<tr>
<td>44-563</td>
<td>WEB APPS</td>
<td>MW</td>
<td>12:00 pm-12:50pm</td>
</tr>
<tr>
<td>44-560</td>
<td>ADV TOPICS IN DB</td>
<td>MWF</td>
<td>11:00 am-11:50am</td>
</tr>
<tr>
<td>44-542</td>
<td>OBJECT-ORIENTED PROG</td>
<td>TR</td>
<td>2:00 pm-3:15pm</td>
</tr>
</table>
<ol>
    <li>ADV TOPICS IN DB SYSTEM</li>
    <li>WEB APPS AND SERV</li>
    <li>OBJECT-ORIENTED PROG</li>
</ol>
    <% include footer.ejs%>